<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Tickets
                </h1>
            </div>
            <a href="/trabajador/crearTicket/{{idTrab}}" type="button" class="btn btn-success">Crear Ticket</a>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID_Ticket</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total a Pagar</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Añadir Productos</th>
                    </tr>
                </thead>
                <tbody>
                {{#each tickets}}
                    <tr>
                    <th>{{id_ticket}}</th>
                    <th>{{Fecha}}</th>
                    <td>${{Total_pagar}}</td>
                    <td><a href="/trabajador/getTicket/{{id_ticket}}/{{../idTrab}}" id="btnAgr_Tick" type="button" class="btn btn-success">Detalles</a></td>
                    {{#unless Cerrado}}
                        <td><a href="/trabajador/getProductos/{{id_ticket}}/{{../idTrab}}" type="button" class="btn btn-warning">Añadir Productos</a></td>
                    {{else}}
                        <td><h4 style="color: red;">Ticket Cerrado</h4></td>
                    {{/unless}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{#if detTicket}}
            <div id="overlayAgr_Tick" class="overlay active">
                <div id="popupAgr_Tick" class="popup">
                    <a href="#" id="btnCloseAgr_Tick" class="btn-close-popup active"><i class="fas fa-times"></i></a>
            {{else}}         
            <div id="overlayAgr_Tick" class="overlay">
                <div id="popupAgr_Tick" class="popup">
                    <a href="#" id="btnCloseAgr_Tick" class="btn-close-popup"><i class="fas fa-times"></i></a>
            {{/if}}
                    <h3>
                        Detalles Ticket
                    </h3>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each detTicket}}
                            <tr>
                            <th>{{Nombre}}</th>
                            <th>{{cantidad}}</th>
                            <th>${{Total}}</th>
                            {{#unless Cerrado}}
                            <td>
                                <form action="/trabajador/updatefromTicket/{{../idTicket}}/{{id_producto}}/{{../idTrab}}" method="POST">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <input style="width: 100%;" type="number" class="form-control" name="Cantidad" max="{{detProd.Cantidad}}" min="0">
                                            <input type="hidden" name="idTicket" value="{{../idTicket}}">
                                        </div>
                                        <div class="col-sm-6">
                                            <button href= type="submit" class="btn btn-warning" style="width: 100%;">Editar</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td><form action="/trabajador/deletefromTicket/{{../idTicket}}/{{id_producto}}/{{../idTrab}}" method="POST"><button style="width: 100%;" type="submit" class="btn btn-danger">Eliminar</button></form></td>
                            {{/unless}}
                            </tr>
                        {{/each}}
                            <tr>
                            <th></th>
                            <th>Suma</th>
                            <th>${{totalTicket}}</th>
                            </tr>
                        </tbody>
                    </table>
                    {{#unless isClosed}}
                    <form action="/trabajador/closeTicket/{{idTicket}}/{{idTrab}}" method="post">
                        <button type="submit" class="btn btn-danger">Cerrar ticket</button>
                    </form>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/assets/JS/popupTick.js"></script>